body{
    font-family: 'Arial' sans-serif;
    background-color: #f3f3f3;
}

#tete{
    max-width: 1010px;
    margin: 0 auto;
    background-color: white;
    padding: 6px;
    border: 2px solid green;
}

header{
    background-color: #59d5d8;
    height: 150px;
    padding: 15px;
    margin : 0 0 0 0;
}

header h2 {
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    color:white;
    text-align:center;
    font-size:32px;
}

.main_menu{
    padding: 5px 0 5px 0;
    margin :0;
    list-style: none;
    text-align: center;
    background-color: #818181;
}

.main_menu ul{
    margin-top: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position:absolute;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

.main_menu li{
    display: inline-block;
    position: relative;
    padding: 0 10px 0 10px;
    font-size: 20px;
    border-radius: 0;   
}

.main_menu ul li{
    display:inherit;
    border-radius:0;
}

.main_menu ul li:hover{
    border-radius:0;
}

.main_menu ul li:last-child{
    border-radius:0 0 8px 8px;
}

.main_menu li:hover ul{
    max-height:15em;
}

.main_menu li:first-child, .main_menu li:nth-child(2), .main_menu li:nth-child(3), .main_menu li:last-child{
    background-color: #818181;
}

.main_menu li:first-child li, .main_menu li:nth-child(2) li, .main_menu li:nth-child(3) li, .main_menu li:last-child li{
    background: #818181;
}

.main_menu a{
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 8px 32px;
    font-variant: small-caps;
}

.main_menu ul a{
    padding: 4px 0;
    font-size: 0.6em;
}

.main_menu a:hover{
    color: #59d5d8;
}

.main_menu li:hover li a{
    color:#fff;
    text-transform:inherit;
}

.main_menu li:hover a, .main_menu li li:hover a{
    color:#59d5d8;
}
#corps{
    display: block;
    max-width: 1010px;
    height: 90%;
    border: 2px solid green;
    margin: 6px auto;
    background-color: white;
    padding: 6px;
}

#affiche{
    margin-top: 3px;
    width:480px;
    float:left;
    padding: 0 0 0 0;
    text-align:center;  
    font-size:150%;
    margin: 0 0 0 0;
}

section#sidebar2{
    display: inline;
    margin:0 4px 0 0;
    float: left ;
    max-width: 200px ;
    border: 2px solid black;
    text-align: center;
}

.side_menu2{
    
    padding: 0;
    margin : 0;
    text-align:center;
    list-style: none;
    line-height: 30px;
    background-color: #d9bebe;
    width: 160px;
}

.side_menu2 ul{
   padding: 0;
   margin: 0;
   list-style: none;
   text-align: center;
}

.side_menu2 li{
    display:block;
    padding: 0 0 0 0;
    font-size: 20px;
}

.side_menu2 li li{
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    margin: none;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background: #444;
}

.side_menu2 a{
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-variant: small-caps;
    font-size: 1em;
}

.side_menu2 ul li a, .side_menu2 li:hover li a{
    font-size: 0.5em;
}

.side_menu2 ul li ul{
    background: #d9bebe;
}

.side_menu2 li:hover{
    background-color: #073b3b;
}

.side_menu2 li li:hover{
    background-color: #073b3b;
}

.side_menu2 ul li:last-child{
    border :none;
    border-radius: none;
}

.side_menu2 li:hover li{
    max-height: 15em;
}

footer{
    display: block;
    background-color: #59d5d8;
    max-width: 1010px;
    border: 2px solid green;
    margin: 6px auto;
    color: white;
    padding: 6px;
    text-align: center;
}
