	legend{
		color: black;
		font-size: 18px;
	}
	fieldset{
		color: gray; 
		border: 2px solid gray;
		border-radius: 6px 6px 6px 6px;
	}
	table{
		border: 2 solid gray;
		border-radius: 6px 6px 6px 6px;
		margin: 0 0 0 0;
		padding: 0 0 0 0; 
	}
	h1{
		display: block;
  		font-size: 26px;
  		text-align: center;
  		font-weight: bold;
  		border : 2px solid gray;
  		width: 390px;
  		line-height: 30px;
  		background: white;
  		color: black;
  		text-decoration: none;
  		border-radius: 10px;
 		padding: 10px;
 		margin: 20px;
	}
	h3{
		text-align: center;
		color: gray;
	}